# Data Science Tools and Ecosystem

In this jupyter botebook, data science tools and ecosystems are summarized.

Some of the popular languages data scientist use are:
1. Python
2. R 
3. SQL

Some of the populr libraries data scientist use are:
1. ggplot2
2. GGally
3. dplyr
4. Numpy
5. Pandas

| Data Science Tools      |
|------------------------|
| Jupyter Notebook       |
| RStudio                |
| Visual Studio Code     |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

**Objectives:** 

- List languages for Data Science.
- Introduce data science tools and environments.
- Provide examples of arithmetic expressions.
- Use of Markdown in Jupyter Notebook.
- Create tables in Markdown.

## Author
Rosie Caldwell